.bgContainer {
  height: 250px;
  width: 50%;
  background: gray;
  justify-self: center;
  align-self: flex-start;
  display: inline-grid;
  justify-content: inherit;
  overflow-y: auto;
  overflow-x: auto;
}
.inputContainer {
  height: 20%;
  width: 90%;
  justify-self: center;
  margin-top: 7px;
  background-color: red;
}
#form {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}
